*{
  margin: 0px;
}

.App {
  /* background-color:black; */
  text-align: center;
  /* color: white; */
align-items: center;
  height: 100vh;
  margin-top: 15%;
}

.App > a , a:visited {
  text-decoration: none;
  background-color: skyblue;
  padding: 5px;
  border-radius: 10px;
}

